/* ###### 6.1 Content  ###### */

.az-content-left-show {
  @media (max-width: 575px) {
    overflow: hidden;
  }

  .az-content-left {
    @include media-breakpoint-down(md) {
      display: block;
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      background-color: #fff;
      z-index: 800;
      border-right: 1px solid $gray-300;
      box-shadow: 0 0 3px rgba($gray-900, .1);
      overflow-y: auto;
    }
  }

  .az-content-body {
    @media (max-width: 575px) {
      display: none;
    }
  }
}

.az-content-body-show {
  @include media-breakpoint-down(md) {
    .az-header {
      .az-header-menu-icon {
        display: none;
      }

      .az-header-left .az-header-arrow {
        display: block;
      }
    }

    .az-content-left {
      display: none;
    }

    .az-content-body {
      display: block;
    }
  }
}

.az-content {
  @include media-breakpoint-up(lg) {
    padding: 30px 0;

    & .content-title-area {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: start;
    }
  }

  .container,
  .container-fluid {
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
  }

  .container {
    @include media-breakpoint-up(lg) {
      padding: 0;
    }

    @include media-breakpoint-down(md) {
      max-width: none;
    }
  }
}

.az-content-app {
  padding-top: 20px;

  @include media-breakpoint-up(lg) {
    height: $az-height-content;
    padding-top: 30px;
  }

  .container,
  .container-fluid {
    height: 100%;
    padding: 0;
  }
}

.az-content-left {
  width: 100%;
  position: relative;
  padding: 0 20px 20px;
  flex-shrink: 0;
  display: none;

  @include media-breakpoint-up(sm) {
    width: 280px;
  }

  @include media-breakpoint-up(lg) {
    display: block;
    padding: 0;
  }
}

.az-content-header {
  height: $az-height-header-mobile;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;

  @include media-breakpoint-up(lg) {
    display: none;
  }

  .az-logo {
    flex: 1;
    text-align: center;
  }
}

.az-content-body {
  flex: 1;
}

.az-content-right {
  padding-left: 25px;
  margin-left: 25px;
  width: 200px;
  display: none;

  @include media-breakpoint-up(lg) {
    display: block;
  }
}

.az-content-breadcrumb {
  display: flex;
  align-items: center;
  font-size: 10px;
  font-weight: 500;
  font-family: $font-family-roboto;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: $gray-500;
  margin-bottom: 10px;

  span {
    position: relative;

    +span::before {
      content: '\f3d1';
      font-family: 'Ionicons';
      font-size: 12px;
      font-weight: 300;
      display: inline;
      margin: 0 5px;
      color: $gray-400;
      line-height: 0;
      position: relative;
      top: 1px;
    }

    &:last-child {
      color: $gray-700;
    }
  }
}

.az-content-title {
  color: $gray-900;
  font-weight: normal;
  font-family: $font-family-maven-pro-bold;
  font-size: 32px;
  text-indent: -1px;
  line-height: 1;
  position: relative;
  margin-bottom: 20px;

  @include media-breakpoint-up(lg) {
    margin-bottom: 40px;
  }
}

.az-content-label {
  color: $gray-900;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1;
  margin-bottom: 10px;
  letter-spacing: .2px;
}

.az-content-label-sm {
  font-size: 10px;
  font-weight: 600;
  text-transform: uppercase;
  color: $gray-500;
  letter-spacing: .5px;
}

.az-content-text {
  font-size: 12px;
  line-height: 1.4;
  display: block;
  color: $gray-600;
}

.wrapper #mainArea {
  margin-top: $menu-top-height;
  padding-left: $menu-side-width;
  will-change: padding-left;
  transition: padding-left 300ms cubic-bezier(0.2, 0, 0, 1) 0s;
  width: 100%;
  height: calc(100vh - #{$menu-top-height});
  overflow: hidden;

  & .content {
    width: 100%;
    min-height: 100%;
    height: calc(100% - 58px);
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: $_9mobile-lt-grey;
    display: flex;
    flex-direction: column;

    & .az-content-header {
      margin-bottom: 2rem;

      & .breadcrumb {
        background: transparent;
        font-size: $small-font-size;

        & .breadcrumb-item {
          opacity: 1;
          cursor: pointer;
          text-decoration: none;
          @include transition(opacity);
          @include transition(text-decoration);

          &.active:hover {
            opacity: 1 !important;
          }
        }

        & .breadcrumb-item+.breadcrumb-item::before {
          content: "|";
        }

        & .breadcrumb-item:hover {
          text-decoration: underline;
          opacity: 0.6;
        }
      }

      & .title {
        font-family: $maven-800;
        font-size: $medium-font-size;
        color: $grey-70;
      }
    }

    & .container.inner-content,
    .container-fluid.inner-content {
      margin: 1.5rem 1rem 3rem 1rem !important;
      display: block;
      width: calc(100% - 2rem);
    }
  }
}

ul.partner-desc {
  display: flex;
  padding: 0;

  & li+li {
    margin-left: 15px;
  }

  & li span {
    font-size: 90%;
    opacity: 0.5;
    margin-right: 5px;
  }
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-thumb {
  -webkit-border-radius: 7px;
  border-radius: 7px;
  background: $primary-color;
  opacity: 0.5;
  /* -webkit-box-shadow: inset 0 0 6px #1c273c; */
}

*::-webkit-scrollbar-track {
  /* -webkit-box-shadow: inset 0 0 6px rgba(255,255,255,1); */
  /* background: #FFFFFF; */
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.az-bg-primary {
  background-color: $primary-color;
}

.row>.section-title-bar {
  padding-left: 15px;
  padding-right: 15px;
}

.row-sm>.section-title-bar {
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;

  & .section-title-bar-inner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 25px;
    border-top: 1px solid #e9e9e9;

    & .title {
      font-size: 14px;
      font-family: 'maven_probold';
      text-transform: uppercase;
    }

    & .more-menu {
      & i {
        cursor: pointer;
        opacity: 0.7;
      }

      .dropdown-menu {
        background-color: #fff;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 15px 20px 5px;
        border-width: 0;
        margin-top: 0;
        z-index: 900;
        // @include border-radius(10);
        border-radius: 10px !important;

        @include media-breakpoint-up(sm) {
          padding-top: 20px;
          position: absolute;
          top: 40px;
          left: auto;
          right: -10px;
          bottom: auto;
          width: 230px;
          border-color: $gray-300;
          border-width: 2px;
        }
      }

      .dropdown-item {
        position: relative;
        cursor: pointer;
        padding: 0;
        height: $az-height-base;
        display: flex;
        align-items: center;
        font-size: $font-size-sm;
        color: $gray-700;

        i {
          font-size: 24px;
          margin-right: 10px;
          width: 24px;
          text-align: center;

          &.typcn {
            line-height: .9;
          }
        }

        @include hover-focus() {
          background-color: transparent;
          color: $az-color-primary;
        }

        +.dropdown-item {
          border-top: 1px dotted $gray-400;
        }

        &:last-child {
          margin-bottom: 10px;
        }
      }

      &.show {
        ::before {
          @include media-breakpoint-up(sm) {
            display: block;
          }
        }

        .dropdown-menu {
          display: block;
        }
      }
    }
  }
}

.fa-cards {
  font-size: 35px;
  color: #225a51;
}