@font-face {
    font-family: 'maven_problack';
    src: url('../fonts/maven-pro/mavenpro-black-webfont.woff2') format('woff2'),
        url('../fonts/maven-pro/mavenpro-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'maven_probold';
    src: url('../fonts/maven-pro/mavenpro-bold-webfont.woff2') format('woff2'),
        url('../fonts/maven-pro/mavenpro-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'maven_promedium';
    src: url('../fonts/maven-pro/mavenpro-medium-webfont.woff2') format('woff2'),
        url('../fonts/maven-pro/mavenpro-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'maven_proregular';
    src: url('../fonts/maven-pro/mavenpro-regular-webfont.woff2') format('woff2'),
        url('../fonts/maven-pro/mavenpro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}